@import '../node_modules/antd/dist/antd.css';

#riddleContainer {
    width: 100vw;
    margin: auto;
    text-align: center;
    padding: 15vh 20px;
}
#riddleFormContainer {
    width: 100%;
    /* height: 100vh; */
    margin: auto;
}
@media screen and (min-width:720px) {
    /* Noch größer, noch mehr Regeln */
    #riddleContainer {
        width: 50vw;
        padding: 25vh 20px;
    }
    #riddleFormContainer {
        width: 80%;
    }
}
.slideImage {
    margin: auto;
    width: 100%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.slideImage .ant-image-img {
    height: 100vh;
    object-fit: contain;
}

.slide-explanation {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    text-align: center;
    padding: 70% 25px;
    width: 100vw;
    height: 100vh;
    font-style: italic;
    font-family: fangsong;
    font-size: 18px;
}

.ant-carousel {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-style: italic;
    font-family: fangsong;
    font-size: 18px;
}